In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('data.db')
cur = con.cursor()

In [3]:
cur.execute('create table stud(Name text, regno integer primary key)')

In [4]:
cur.execute("insert into stud values('Ronan', 200968256)")
cur.execute("insert into stud values('Neel', 200968128)")

In [5]:
df = pd.DataFrame(cur.execute("select * from stud"), columns=)

In [6]:
df

    Name      regno
0   Neel  200968128
1  Ronan  200968256