In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect('data.db')
c = conn.cursor()

In [3]:
c.execute('SELECT * FROM userstable')
data = c.fetchall()

In [4]:
df = pd.DataFrame(data=data, columns=["Username","Password"])
df

          Username                                           Password
0  ronanmarkdsouza  bfdb8b0bd00f371203c44f8f6cded27ccfbc25f4e25b74...
1            ronan  c2019a34914fe9a9a05d6d024a6b9cb1cec979416a76d0...
2            sahil  c0b1eac6bb604a5648a2b165f824467e3d1b04f8e682a8...
3            ronan  c2019a34914fe9a9a05d6d024a6b9cb1cec979416a76d0...
4            ronan  c2019a34914fe9a9a05d6d024a6b9cb1cec979416a76d0...
5            ronan  c2019a34914fe9a9a05d6d024a6b9cb1cec979416a76d0...
6          haneeth  0c7de643b85356fbaa078ef9fa471c2a72b39837e4cfba...